@media screen and (max-width: 468px) {
    .l-part{
        display: none;
    }

    .l-part-main {
        display: none;
    }

    .r-part{
        width: 100%;
    }

    
    .r-part-main {
        width: 100%;
    }
    
    .contact-name {
        width: 100%;
    }

    .files {
        display: none;
    }

    .emoticon {
        display: none;

    }

    .microphone {
        display: none;
    }

    .text-message {
        width: 100%;
    }


    
    

    




}


@media screen and (min-width: 768px) {

    

    .l-part {
        width: 115px;
    }

    .r-part {
        width: calc(100% - 115px);
    }

    .contact{
        width: 93px;
    }

    .contact-info {
        width: calc(100% - 93px);
    }

    .l-part-main {
        width: 115px;
    }

    .r-part-main {
        width: calc(100% - 115px);
    }

    .left-p {
        padding-left: 20px;
    }
    

    .all-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .user-ui {
        display: none;
    }

    .notifications {
        display: none;
    }

    .search {
        display: none;
    }

    .people-name {
        display: none;
    }

    .people-image {
        display: block;
        width: 100%;
    }

    .people {
        display: block;
    }





}


@media screen and (min-width: 992px) {

    .all{
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
        height: 100vh;
        padding: 50px;
    }

    .all-header{
        width: 100%;
    }

    .l-part {
        width: 375px;
    }

    .r-part {
        width: calc(100% - 375px);
    }

    .all-main{
        height: 85vh;
        

    }

    .l-part-main {
        width: 375px;
    }

    .r-part-main {
        width: calc(100% - 375px);
    }

    .left-p {
        padding-left: 7px;
    }

    .peoples {
        height: 68.3vh;
    }

    .user-avatar {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .user-ui {
        display: flex;
        justify-content: right;
        align-items: center;
        width: 54%;
    }
    
    .user-ui i {
        margin: 0 10px;
        font-size: 30px;
        color: #A09E9C;
    }

    .user-avatar img {
        width: 22%;
    }

    .people img{
        width: 22%;
    }

    .footer-left-part {
        height: 74px;
    }

    .notifications {
        display: flex;
    }

    .search {
        display: flex;
    }


}